<div class="products-container">

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar produtos, marcas e muito mais</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="e.g. fones de ouvido" />
  </mat-form-field>

  @if (searchTerm().trim() != '') {
    <p class="search-preview">
      Resultado de pesquisa para: "{{ searchTerm() }}"
    </p>
  }

  <p>Total de produtos: {{ filteredProducts().length }}</p>

  <div class="products-grid">
    @for (product of filteredProducts(); track product.id) {
      <app-product-card [product]="product" />
    } @empty {
      <div class="empty-state">
        <mat-icon>inventory_2</mat-icon>
        <p>Nenhum resultado foi encontrado</p>
      </div>
    }
  </div>
</div>
