<mat-toolbar class="main-header">
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Icone de casa" fontIcon="store"></mat-icon>
  </button>

  <span class="branding">Angular Moderno E-Shop</span>

  <span class="spacer"></span>

  <button mat-button>Produtos</button >

  <button mat-button>
    <mat-icon
    [matBadge]="cartService.totalItems()"
    [matBadgeHidden]="cartService.totalItems() === 0"
    matBadgeDescription="Número de itens no Carrinho"
    aria-hidden="false" aria-label="Carrinho" fontIcon="shopping_cart"></mat-icon>
  </button>
</mat-toolbar>
